db=db.getSiblingDB('admin');
db.createUser(
  {
    user:'{{ mongod.admin_user | default('root')}}',
    pwd:"{{ mongod.admin_password }}",
    roles:[
      {
        db:'admin',
        role:'root'
      }
    ]
  }
);
