systemLog:
  destination: file
  logAppend: true
  path: {{ mongod.log_path }}
  logRotate: reopen
storage:
  dbPath: {{ mongod.db_path }}
  journal:
    enabled: {{ mongod.journal}}
processManagement:
  fork: true
  pidFilePath: {{ mongod.pid_file }}
net:
  port: {{ mongod.port }}
  bindIp: 127.0.0.1
replication:
  replSetName: main_replicaset
